/* Your styles should be mobile-first and responsive */



body {
  background-image: url('assets/star-wars-backgrounds-14.JPG');
  background-repeat: no-repeat;
  color: #FFE81F;
  text-align: center;
  font-size: 25px;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  text-align: center;
  font-size: 46px;
}

li {
  list-style: none;
}

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/